{
  SetUserGroup => {
    user => "nobody",
    group => "nogroup",
  },

  hypnotoad => {
    listen => [ 'http://*:80' ],
    workers => 10,
    inactivity_timeout => 1200,
    proxy => 1,
  },

  base        => '/files',
  regular     => 'u',
  onetime     => 'o',
  private     => 'P',
  public      => 'p',

  url         => 'http://pastebin.your.domain',
  max_pp_size => '16777216',

  private_acl => [
    '127.0.0.1/32',
    '192.168.0.0/16',
    ],
}
