{
  SetUserGroup => {
    user => "www-data",
    group => "www-data",
  },

  hypnotoad => {
    listen => [ 'http://*:80' ],
    workers => 10,
    inactivity_timeout => 1200,
  },

  base        => '/usr/local/pastebin/files/',
  regular     => 'uploads/',
  onetime     => 'onetime/',
  private     => 'private/',
  public      => 'public/',

  url         => 'https://pastebin.domain.com',
  max_pp_size => '16777216',

  private_acl => [
    '127.0.0.1/32',
    ],
}
